body {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
  }

.gridContainer{
    margin-bottom: 20px;
    /* background-color: aqua; */
    height: 70vh;
    width: 80vw;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

.for-lists{
  /* background-color: aqua; */
  width: 60%;
  margin: 0 auto;
  align-items: center;
  width: 60vw;
}

label {
  font-size: 120%;
  /* margin-left: 5%; */
  font-weight: bold;
  overflow-x: hidden;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.Source{
  margin-right: 60px;
}

.listObjectBtn, .listSourceBtn{
  background-color: rgb(250, 250, 250);
  min-width: 200px;
  height: 60px;
  border-radius: 5px;
}

.listObjectBtn:hover, .listSourceBtn:hover{
  border: 2px solid rgb(168, 207, 225);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  top: 100%;
  min-width: 200px;
  max-height: 250px; /* максимальная высота списка*/
  overflow-y: auto; /* появление scroll-bar */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  overflow-x: hidden; /* убирает прокрутку по горизонтали */
  left: 50%; /* что-то для центрирования */
  transform: translateX(-50%); /* что-то для центрирования 2 */
  flex-direction: column;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
}

.specialBtn{
  background-color: #c5c4c4;
  border-radius: 0;
}

.dropdown-content button:hover {background-color: #dedcdc}
