  .gridContainer{
    margin-bottom: 20px;
    /* background-color: aqua; */
    height: 60vh;
    padding: 20px;
  }

  .generalContainer{
    /* background-color: rgb(227, 231, 20);  */
    padding: 10px;
    width: 80vmax;
    height: 1000px;
    margin-top: 10%;
    /* background-color: #4CAF50; */
  }

  h1 {
    margin-bottom: 30px;
    font-size:  300%;
  }

  h2 {
    margin-bottom: 15px;
    /* font-size:  200%; */
  }

  .hiddenContainer{
    display: none;
  }

  